.new-todo-button {
  width: 140px;
  height: 45px;
  font-family: "Montserrat";
  padding: 10px 10px;
  font-size: 18px;
  color: #7300ff;
  background-color: #fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 20px;
  margin-top: 5%;
}

.new-todo-button:hover {
  background-color: #963eff;
  box-shadow: 0px 10px 25px #963eff;
  color: #fff;
  transform: translateY(-7px);
}

.todolistinputbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 5%;
  gap: 20px;
}

.todolistinputbar input {
  border: none;
  border-bottom: 2px solid #d3d3d3;
  font-size: 20px;
  font-family: "Montserrat";
  padding: 8px;
  border-radius: 10px 10px 0px 0px;
  width: 30%;
}

.todolistinputbar input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid #7300ff;
  font-family: "Montserrat";
}

.todolistinputbar .calender-icon {
  position: absolute;
  right: 50px;
  font-size: 24px;
  cursor: pointer;
}

.todolistinputbar .circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.todolistinputbar .red {
  background-color: red;
  margin: 40px;
  right: 30px;
}

.todolistinputbar .yellow {
  background-color: yellow;
  margin: 40px;
  right: 20px;
}

.todolistinputbar .orange {
  background-color: orange;
  margin: 40px;
  right: 10px;
}

.todolistinputbar i {
  font-size: 40px;
  margin-left: 15px;
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 10px;
  transition: all 0.2s ease 0s;
  position: relative;
}

.todolistinputbar i:hover {
  background-color: #963eff;
  color: #fff6ff;
}

hr {
  border: none;
  width: 80%;
  height: 50px;
  margin-top: 0;
  border-bottom: 2px solid #b981fe;
  box-shadow: 0 20px 20px -20px #d3d3d3;
  margin-inline: auto;
}

.featurescontainerwithtasklist {
  position: relative;
  width: 80%;
  margin-inline: auto;
  box-shadow: rgba(205, 205, 205, 0.48) 6px 20px 56px 0px,
    rgba(255, 255, 255, 0.8) -6px -20px 16px 0px;
}

.todo-features-container {
  margin-inline: auto;
  padding-bottom: 20px;
  border-radius: 10px 10px 0px 0px;
  background-color: #b981fe;
  font-family: "Montserrat";
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap-reverse;
  flex: 1;
  gap: 10px;
  margin-top: 5px;
  align-items: center;
  overflow: hidden;
  height: 20px;
  transition: all 0.5s ease;
}

.featurescontainerwithtasklist:hover .todo-features-container {
  padding: 5px;
  border-radius: 50px 50px 0px 0px;
  transform: translateY(-8px);
  height: 80px; /* Adjust the height as per your content */
}

.featurescontainerwithtasklist span .task-count::after {
  content: "Tasks : ";
}

.filter-dropdown {
  font-size: 16px;
  border-radius: 5px;
  font-size: 18px;
  margin: 15px 5px;
  /* background-color: white; */
  font-family: "Montserrat";
  padding: 5px;
  border-radius: 10px;
  border: none;
  background-color: #e8deff;
}

input {
  border: none;
  border-bottom: 2px solid #963eff;
  font-size: 18px;
  background-color: #f1e5ff;
  padding: 5px;
  border-radius: 5px 5px 0px 0px;
  width: 60%;
  transition: all 0.4s ease 0s;
}

input:focus {
  outline: none;
  width: 100%;
}

input::placeholder {
  font-family: "Montserrat";
  font-size: 16px;
}

.task-bar {
  padding: 15px;
  padding-left: 0px;
  font-family: "Montserrat";
  font-size: 20px;
  margin-inline: auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* padding-inline: 20px; */
  transition: all 0.5s ease-in-out;
  margin-inline: 8px;
  border-radius: 10px;
}

.task-bar:hover {
  /* border-left: 8px solid #7300ff; */
  background-color: #f8f1ff;
  transform: translateY(-5px);
}

/* .border-left-hover {
  width: 6px;
  height: 8px;
  border-radius: 0px 50% 50% 0px;
  background-color: #7300ff;
  transition: all 0.5s ease-in-out;
  transform-origin: center;
}

.task-bar:hover .border-left-hover {
  width: 15px;
  opacity: 1;
transform: scaleY(8);
} */

.task-summary {
  display: flex;
  align-items: center;
}
.priority-status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* outline: 5px solid #f4eaff; */

  /* background-color: #7300ff; */
}

.priority-low {
  background-color: rgb(54, 255, 151);
  outline: 5px solid #ddffef;

}

.priority-medium {
  background-color: #ffd900;
  outline: 5px solid #fff9dc;

}

.priority-high {
  background-color: #fe1158;
  outline: 5px solid #ffe0e0;

}

.task-bar .icons {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.task-bar:hover .icons {
  opacity: 1;
}

.task-bar .icons i {
  transition: transform 0.2s;
}

/* .task-bar .icons i:hover {
  animation: bounce 0.5s infinite;
} */

/* @keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
} */

/* .checked-task span {
  margin: 10px 20px;
} */

.task-heading-checked-icon {
  /* display: inline-block; */
  max-width: 75%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-list i {
  border-radius: 10px;
  padding: 10px;
  transition: all 0.5s ease 0s;
}

.task-list i:hover {
  cursor: pointer;
  border-radius: 15px;
  background-color: #b981fe;
  color: #fff;
}

.incompleteicon {
  border-radius: 10px;
  padding: 10px;
  transition: all 0.5s ease 0s;
}

.task-summary-completed {
  text-decoration: line-through;
  color: grey;
}

.completedicon {
  cursor: pointer;
  border-radius: 15px;
  background-color: #b981fe;
  color: #fff;
}

.task-bar-without-date {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.taskbar-date {
  justify-content: flex-start;
  margin-left: 7%;
  font-size: 14px;
  color: #979797;
}

.task-title {
  padding-left: 20px;
}

.subtasks {
  max-width: 80%;
  margin-inline: auto;
}

.nodatafound {
  font-size: 20px;
  text-align: center;
  color: #d3d3d3;
  font-weight: 600;
  font-family: "Montserrat";
  /* margin: 30px; */
  padding: 20px;
}
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

span .task-summary {
  margin: 0;
}

.task-description-container, .task-subtasks-container {
  width: 80%;
  margin-inline: auto;
  font-size: 16px;
  background-color: #d3d3d3;
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 10px;
  animation-duration: 0.5s;
  animation-name: fadeInDown;
  box-shadow: 0px 15px 15px rgba(58, 58, 58, 0.1);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.task-description-container span, .task-subtasks-container span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-family: 'Space Grotesk';
  font-weight: 300;
  
}

.description-heading span{
  background-color: #b981fe;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 5px;
  color: white;
  box-shadow: 0px 15px 15px rgba(58, 58, 58, 0.1);
}

.task-description {
  padding: 10px;
  margin-left: 5%;
}

.description {
  border: none;
  height: 1px;
  width: 90%;
  margin: 0;
  margin-top: 0;
  border-bottom: 2px solid #e1e1e1;
  box-shadow: 0 20px 20px -20px #d3d3d3;
  margin-inline: auto;
}

.task-subtasks-container ul li {
  list-style: none;
  margin-left: 5%;
  padding: 10px;
}
/* .suggestions-container {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  max-width: 500px;
  overflow-y: auto;
  position: absolute;
  background: white;
  z-index: 1000;
}

.suggestions-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.suggestions-container li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-container li:hover {
  background-color: #df5b5b;
} */

@media (max-width: 1037px) {
  .featurescontainerwithtasklist {
    width: 85%;
  }
  .task-bar {
    padding: 15px 5px;
  }
  i {
    margin: 2;
  }
}

@media (max-width: 750px) {
  .featurescontainerwithtasklist {
    width: 95%;
  }
  .todo-features-container {
    font-size: 14px;
  }
  .filter-dropdown {
    font-size: 12px;
  }

  span input {
    font-size: 12px;
  }

  .task-bar {
    padding: 15px 5px;
    font-size: 16px;
  }

  .task-bar i {
    padding: 6px;
    margin: 2px;
    border-radius: 5px;
  }

  .todo-features-container span .task-count::after {
    content: " : ";
  }

  .priority-status {
    width: 7px;
    height: 7px;
  }
  .task-description-container, .task-subtasks-container {
    width: 90%;
    font-size: 14px;
  }
  .description {
    width: 80%;
  }
}

@media (max-width: 750px) {
  .task-heading-checked-icon {
    max-width: 65%;
  }
}

@media (max-width: 450px) {
  .featurescontainerwithtasklist {
    width: 98%;
  }
  .task-bar {
    padding: 10px 5px;
  }
  .task-bar i {
    padding: 6px;
    margin: 2px;
    border-radius: 50px;
  }
  .featurescontainerwithtasklist:hover .todo-features-container {
    height: 120px; /* Adjust the height as per your content */
  }
  .task-heading-checked-icon {
    max-width: 60%;
  }
  .priority-status {
    width: 7px;
    height: 7px;
  }

  .task-description-container, .task-subtasks-container {
    width: 98%;
    font-size: 13px;
    padding: 10px;
    border-radius: 10px;
  }
  .description-heading span{
    margin-bottom: 5px;
  }
  .task-description {
    padding: 5px;
  }
  .task-subtasks-container ul li {
    padding: 5px;
  }
  .description {
    width: 65%;
  }
}

@media (max-width: 450px) {
  .task-heading-checked-icon {
    max-width: 50%;
  }

  .task-title {
    padding-left: 5px;
  }
}

/* .task-container {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
}

.task-header h2 {
  margin: 0;
  font-size: 24px;
}

.task-details {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.subtasks-container {
  margin-top: 20px;
}

.subtasks-container h3 {
  margin: 0 0 10px 0;
}

.subtasks-container ul {
  list-style-type: none;
  padding: 0;
}

.subtasks-container li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.subtasks-container li.completed span {
  text-decoration: line-through;
  color: #999;
}

.subtasks-container input[type="checkbox"] {
  margin-right: 10px;
}

.tasks-container {
  display: flex;
  flex-direction: column;
} */
