<div class="tasklist-body">
    <h1 class="current-note-heading">Note 1</h1>
    <hr />
    <div class="tasklist-body-cards">
        <app-notelistsubheadingcards></app-notelistsubheadingcards>
        <app-notelistsubheadingcards></app-notelistsubheadingcards>
        <app-notelistsubheadingcards></app-notelistsubheadingcards>
        <app-notelistsubheadingcards></app-notelistsubheadingcards>
        <app-notelistsubheadingcards></app-notelistsubheadingcards>
        <app-notelistsubheadingcards></app-notelistsubheadingcards>
        <app-notelistsubheadingcards></app-notelistsubheadingcards>
    </div>
  </div>