<div class="nothing-is-selected" *ngIf="activenote == undefined">
  Nothing is selected
</div>

<div class="tasklist-body" *ngIf="activenote != undefined">
  <div class="notelistbody-heading-filter-search">
  <h1 class="current-note-heading">{{ activenote.note_heading }}</h1>
  <!-- <input type="text" placeholder="Search...">
  <div class="bookmarked-pin-filter">
    <span class="bookmarked-filter">Bookmarked</span>
    <span class="pinned-filter">Pinned</span>

  </div> -->
</div>
<div class="container">
      <div class="one"></div>
      <div class="two"></div>
  </div>
  <!-- <hr /> -->
  <div class="tasklist-body-cards">
    <div class="sub-heading-cards newsubehadingcard" *ngIf="addsubheadingcard">
      <h4>
        <input
          type="text"
          placeholder="Enter Subheading..."
          [(ngModel)]="newcardsubheading"
        />
      </h4>
      <hr />
      <span class="list-type-selection">
        <i class="fa-solid fa-list-ul" (click)="setListType('ordered')"></i>
        <i class="fa-solid fa-list-ol" (click)="setListType('unordered')"></i>
      </span>
      
      <div class="content">
        <textarea
          type="text"
          name="subheadingcontent"
          id="subheadingcontent"
          placeholder="Enter data..."
          [(ngModel)]="newcardsubheadingcontent"
        ></textarea>
      </div>
      <div class="icons">
        <i class="fa-solid fa-trash"></i>
        <i
          class="fa-solid fa-check"
          (click)="savesubheadingcarddetails(activenote)"
        ></i>
      </div>
    </div>

    <!-- without using input decorator  -->

    <!-- <div *ngFor="let data of activenote?.note_data">
      <div class="sub-heading-cards">
        <h4>{{ data.note_data_subheading }}</h4>
        <hr />
        <div class="content">
          {{ data.note_data_content }}
        </div>
        <div class="icons">
          <i class="fa-solid fa-trash"></i>
          <i class="fa-solid fa-pen-to-square"></i>
        </div>
      </div>
    </div> -->

    <!-- using input decorator  -->
     <!-- @defer (on viewport) { -->
    <app-notelistsubheadingcards
      *ngFor="let data of activenote?.note_data"
      [data]="data"
      class="sub-heading-cardss"
    ></app-notelistsubheadingcards>
     <!-- } -->
     <!-- @placeholder { -->
      <!-- <div>no subheading cards</div> -->
     <!-- } -->
     <!-- @loading (minimum 5s) { -->
      <!-- <p>Loading comments...</p> -->
      <!-- } -->
  </div>
</div>
