.subheadingcarddetailscontainer {
    width: 80%;
    margin-inline: auto;
    margin-top: 5%;
}
.go-to-notelist {
    max-width: fit-content;
    margin-top: 2%;
    padding: 20px;
    margin-inline: auto;
    color: #963eff;
    background-color: rgb(255, 255, 255);
    font-family: 'Space Grotesk';
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    transition: all .6s ease;
}

.go-to-notelist:hover {
    background-color: #963eff;
    color: white;
    transform: translateY(-8px);
}

.subheading-with-bookmark-pin {
    display: flex;
    justify-content: space-between;
}

span {
    color: #69009e;
    padding: 10px;
    background-color: rgb(252, 248, 255);
    border-radius: 10px;
    margin-inline: 5px;
    font-size: 12px;
    font-weight: 500;
}