<!-- <header>
    <div class="header-content">
        <div class="header-photo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWYxvjEZex_7ej551c5BrCZgkSfiQybVHZoQ&s" alt="Company logo">
            <div class="logo">Micropro</div>
        </div>
        <nav class="navbar">
            <ul class="laptop-navbar">
                <li><a href="#home">Home</a></li>
                <li><a href="#about-us">About Us</a></li>
                <li><a href="#contact-us">Contact Us</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#logout">Job portal</a></li>
            </ul>
            <ul class="sidebar">
                <li><a ><button class="close-hamburger-btn" (click)="hidesidebar()">*</button></a></li>
                <li><a href="#home">Home</a></li>
                <li><a href="#about-us">About Us</a></li>
                <li><a href="#contact-us">Contact Us</a></li>
                <li><a href="#login">Services</a></li>
                <li><a href="#logout">Job portal</a></li>
                <li><a href="#logout">Register</a></li>
                <li><a href="/Website/login.html">Login</a></li>
            </ul>
        </nav>
        <div class="register-login-btn-container">
            <button class="register-btn" autofocus  [routerLink] = "['/register']">Register</button>
           <button  class="login-btn" [routerLink] = "['/login']">Login</button>
            <button class="hamburger-btn" (click)="showsidebar()">=</button>
            <div (click)="changevalue()">hidfghjkleqwfhb sn</div>
        </div>
    </div>
</header> -->
