<!-- <script type="module">
  // Import the functions you need from the SDKs you need
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.13.0/firebase-app.js";
  import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.13.0/firebase-analytics.js";
  // TODO: Add SDKs for Firebase products that you want to use
  // https://firebase.google.com/docs/web/setup#available-libraries

  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  const firebaseConfig = {
    apiKey: "AIzaSyCGVG-N0ZHDc6gw1q7VHGrRFVP6Y7DoV7U",
    authDomain: "conversify-5483b.firebaseapp.com",
    projectId: "conversify-5483b",
    storageBucket: "conversify-5483b.appspot.com",
    messagingSenderId: "886242904959",
    appId: "1:886242904959:web:9f12c5ecd455616880e84a",
    measurementId: "G-JZ937B31C4"
  };

  // Initialize Firebase
  const app = initializeApp(firebaseConfig);
  const analytics = getAnalytics(app);
</script> -->



<!-- src/app/components/login/login.component.html -->
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <label>Email:</label>
  <input formControlName="email" type="email" required>
  <label>Password:</label>
  <input formControlName="password" type="password" required>
  <button type="submit">Login</button>
</form>


<router-outlet></router-outlet>