<!-- <button mat-raised-button>Basic</button>
<router-outlet></router-outlet> -->




<!-- app.component.html -->
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
        <a mat-list-item routerLink="/about" routerLinkActive="active">About Us</a>
        <a mat-list-item routerLink="/services" routerLinkActive="active">Services</a>
        <!-- Add more sidebar items here -->
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary"> 
        <span>My Angular App</span>
        <ngx-loading-bar [color]="'red'" [height]="'5px'"></ngx-loading-bar>
          </mat-toolbar>
  
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  
  