.register-container {
    max-width: 500px;
    margin-inline: auto;
    margin-top: 5%;
    box-shadow: rgba(205, 205, 205, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    font-family: 'Montserrat';
    /* border-radius: 10px; */
}

.register-container-body {
    padding: 20px;
}

.register-heading {
    text-align: center;
    font-family: 'Space Grotesk', sans-serif;
    color: transparent;
    background: linear-gradient(to right, #963eff, #fe1158);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px;
}

input {
    font-size: 18px;
    display: block;
    margin: 10px;
    margin-inline: auto;
    border: none;
    border-bottom: 1.5px solid #9b9b9b;
    width: 80%;
    padding-top: 25px;
    padding-bottom: 10px;
    font-family: 'Montserrat';
}

input:hover {
    border-bottom: 2px solid #8d8b8b;
}

input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #963eff;
}

input::placeholder {
    color: #9b9b9b;
    margin: 20px;
    transition: all 0.3s ease-in-out;
}

input:focus::placeholder,
input:not(:placeholder-shown)::placeholder  {
    /* transform: translateY(-20px); */
    /* font-size: 14px; */
    background: linear-gradient(to right, #963eff, #fe1158);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.register-clear-button-container {
    margin-top: 30px;
    display: flex;
    gap: 80px;
    justify-content: center;
}

.register-button {
    font-family: 'Space Grotesk';
    color: #963eff;
    background-color: white;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    margin: 10px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}

.clear-button {
    font-family: 'Space Grotesk';
    color: #963eff;
    background-color: white;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    margin: 10px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}

.clear-button:hover {
    background-color: #963eff;
    color: white;
    transition: .4s ease-in-out;
}

.register-button:hover {
    background-color: #963eff;
    color: white;
    transition: .4s ease-in-out;
}

p {
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error-message{
    color: red;
    margin-left: 50px;
}

hr{
    margin: 20px 0px;
    height: 1px;
    color: #f8f8f8;
}

.enter-valid-details {
    text-align: center;
}
